@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    color: white;
    font-family: Inter;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 3rem;
}

.App {
    // background-color: black;
    background-image: url("background.png");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.widget {
    border: 5px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 22px;
    border-radius: 15px;
    height: 30%;
    aspect-ratio: 1 / 1;
    // width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    &--wide {
        width: 35%;
    }
}

.widget__row {
    display: flex;
    flex-direction: row;
}

#weather-widget {
    text-align: center;
}